[Unit]
Description=App_API
After=network.target

[Service]
Type=simple
User=ops
Group=ops
WorkingDirectory=/data/projects/app_api
ExecStart=/data/projects/app_api/app_api
PrivateTmp=true
Restart=always
LimitCORE=infinity
LimitNOFILE=10000000
LimitNPROC=10000000

[Install]
WantedBy=multi-user.target
