# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
logs
.idea/
tmp/
sql/
test/
binary/
bin/
go_basic_api

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

configs/conf_dev.yml
configs/conf_test.yml

base_api
base_api.exe
*.pyc

playground/
